# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Ambiente virtual
venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Variáveis de ambiente
.env

# VS Code
.vscode/

# pytest
.pytest_cache/